@import "./scss/_globals.scss";
.App {
  height: 100vh;
  overflow: hidden;
}
.row {
  margin-bottom: 0 !important;
}
.dashboard {
  height: 100%;
  .right-content {
    margin-left: 17%;
    overflow: auto;
    height: 100%;
  }
  .left-menu {
    padding: 0;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: olivedrab;
    .user-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      .avatar-image {
        padding: 15px;
        height: 170px;
        width: 170px;
      }
      .user-name {
        color: white;
        font-size: 2rem;
      }
      .user-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        padding: 10px;
      }
    }
    .menu-items {
      border: none;
      margin: 0;
      .active .menu-item{
        background-color: lightblue;
      }
      .menu-item {
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:hover {
          background-color: lightblue;
        }
      }
    }
  }
  .content {
    height: 100%;
    overflow: auto;
    .item-card {
      border-radius: 5px;
      .card-content > div {
        height: 170px;
      }
      .card-content div {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-header {
          font-size: 24px;
          margin-bottom: 10px;
          word-break: break-all;
        }
        .card-body {
          overflow: auto;
          max-height: 200px;
          word-break: break-all;
        }
      }
    }
  }
}


table {
  table-layout: fixed;
  word-break: break-all;
  th, td {
    vertical-align: top;
  }
}